<p id="notice"><%= notice %></p>


<div class="d-flex justify-content-center mb-5 code">
  <% if @code %>
    <a href="<%= @code.code %>"><%= @code.code %></a>
  <% else %>
  	No codes found
  <% end %>
</div>
